/Web/SampleCRUD/nbproject/private/
/Web/BaselineCRUD/nbproject/private/
/Web/SampleBootstrap/nbproject/private/
Design Document/Archive/Thumbs.db
Design Document/High level process list.bmp
Design Document/Sketches/Thumbs.db
*.db
/Web/nbproject/private/