body {
    background-image:    url(http://hive.csis.ul.ie/4065/group05/images/backlit-bonding-casual-708392.jpg);
    background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center;              /* optional, center the image */
}
.topnav {
    background-color: #333;
    overflow: hidden;
}
/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #F0F8FF;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
}
/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: grey;
}
/* Add a color to the active/current link */
.topnav a.active {
    background-color: #A9A9A9;
    color: white;
}
/* Right-aligned section inside the top navigation */
.topnav-right {
    float: right;
}
iv.first {
    opacity: 0.1;
    filter: alpha(opacity=10); 
}

<!-- invisible radio button with image select -->
ul {
    list-style: none;
}
li {
    display: inline-block;
    margin-right: 15px;
}
.hideinput {
    visibility:hidden;
}
.selectimg {
    cursor: pointer;
}
input:checked + label {
    border:2px solid #f00;
} 
.stackem div {
    width: 100%;
}
 